<div class="table-container">
    <div class="card-preview" *ngIf="groups?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <table *ngIf="groups?.total > 0" mat-table #table [dataSource]="groups?.data"
           [@animateStagger]="{value:'50'}"
           matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

        <!-- Avatar Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let group">
                {{group.id}}

            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
            <mat-cell *matCellDef="let group">
                {{group.name}}
            </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef>code</mat-header-cell>
            <mat-cell *matCellDef="let group">
                {{group.code}}
            </mat-cell>
        </ng-container>


        <!-- Icon Column -->
        <ng-container matColumnDef="observations">
            <mat-header-cell *matHeaderCellDef>observations</mat-header-cell>
            <mat-cell *matCellDef="let group">
              {{group.observations}}

            </mat-cell>
        </ng-container>



        <!-- Buttons Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef><span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1">Actions</span></mat-header-cell>
            <mat-cell *matCellDef="let group; let i = index">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="rights.update==1"
                            mat-icon-button
                            (click)="manageGroupRights(group.id)"
                            matTooltip="Rights">
                        <mat-icon>lock</mat-icon>
                    </button>
                    <button *ngIf="rights.update==1"
                        mat-icon-button
                            (click)="manageGroup(group.id)"
                            matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="rights.delete==1"
                            mat-icon-button
                            (click)="deleteGroup(group.id)"
                            matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsGroups"></mat-header-row>
        <mat-row *matRowDef="let group; columns: displayedColumnsGroups;"
                 class="groups"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </table>

    <mat-paginator *ngIf="groups?.total > 0"
                   [length]="groups?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>