<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">


    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{value:'*',params:{scale:'1'}}">
<!--            <img src="assets/images/logos/EUMR_logowhite.png">-->

        </div>
        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Sustained, persistent, and affordable presence in the oceans
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            EUMarineRobots
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="logo">
<!--                <span>  <img src="assets/images/logos/EUMarineRobots.png"></span>-->
            </div>

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm"
                  [formGroup]="registerForm"
                  novalidate
                  role="form"
                  (ngSubmit)="register(frm)"
                  #frm="ngForm">

                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error>
                        Name is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="legacy">
                    <mat-label>Select your organization</mat-label>
                    <mat-select formControlName="organization_id" >
                        <mat-option *ngFor="let item of organizations" [value]="item.id">{{item.organisationname}}</mat-option>

                    </mat-select>
                    <mat-error>
                        Organization is required
                    </mat-error>
                </mat-form-field>


                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password (Confirm)"
                           formControlName="password_confirmation">
                    <mat-error *ngIf="registerForm.get('password_confirmation').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('password_confirmation').hasError('required') &&
                                       registerForm.get('password_confirmation').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid">
                    CREATE AN ACCOUNT
                </button>
            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/auth/login'">Login</a>
            </div>
        </div>
    </div>
</div>
