<div class="table-container">
    <div class="card-preview" *ngIf="files?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>


    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="64px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngStyle]="{'color': (row?.creator.user_id != user.id) ? '#10cb23' : '#00000'}"> {{row.icon}}</mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name" (click)="onSelect(row)">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="extension">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Type</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md> {{row.type}}</mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container matColumnDef="owner_id">
        <mat-header-cell *matHeaderCellDef fxHide.xs>Owner</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs> {{row?.creator?.name}}</mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="fileSize">
        <mat-header-cell *matHeaderCellDef fxHide.xs>Size</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs> - </mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container matColumnDef="updated_at">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Modified</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{row.updated_at}}</mat-cell>
    </ng-container>


        <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef fxHide.xs>Download</mat-header-cell>
            <mat-cell *matCellDef="let row" fxHide.xs>
                <a *ngIf="row.type=='folder'" href="{{endpoint}}folder/{{row.md5}}">
                    <mat-icon>cloud_download</mat-icon></a>
                <!--                <span class="mdi mdi-folder-zip"></span>-->
            </mat-cell>
        </ng-container>

    <!-- Detail Button Column -->
    <ng-container matColumnDef="detail-button">
        <mat-header-cell *matHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('file-manager-details-sidebar')">
                <mat-icon class="secondary-text">info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>



        <!-- Buttons Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div fxFlex="row" fxLayoutAlign="end center" *ngIf="row?.creator.user_id == user.id">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                    <mat-menu #moreMenu="matMenu">
                        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
                            <button mat-icon-button
                                    aria-label="edit"
                                    (click)="editFolder(row.id)"
                                    matTooltip="Edit file ">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button
                                    aria-label="remove"
                                    (click)="deleteFile(row.id)"
                                    matTooltip="Delete folder ">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                    </mat-menu>
                </div>

            </mat-cell>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"

                          [ngClass]="{'selected' : row == selected}"
             matRipple [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>

    <mat-paginator *ngIf="files?.total > 0"
                   [length]="files?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>