<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <form #expenseForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>

            <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
                <mat-grid-tile>5</mat-grid-tile>
                <mat-grid-tile>6</mat-grid-tile>
            </mat-grid-list>


<!--        <mat-grid-list cols = "2" rowHeight = "150px">-->
<!--            <mat-grid-tile-->
<!--                [colspan] = "1"-->
<!--                [rowspan] = "1">-->

<!--                    &lt;!&ndash;USERS&ndash;&gt;-->

<!--                    <div fxFlex="1 0 auto"-->
<!--                         fxLayout="column"-->
<!--                         fxLayoutAlign="start"-->
<!--                         fxLayout.gt-xs="row">-->
<!--                        <mat-form-field appearance="outline" class="" fxFlex="100">-->
<!--                            <mat-label>Expense type</mat-label>-->
<!--                            <ng-select [items]="expenses_type"-->
<!--                                       appendTo="body"-->
<!--                                       bindLabel="name"-->
<!--                                       autofocus-->
<!--                                       name="expenseType"-->
<!--                                       ngSelectMat-->
<!--                                       bindValue="id"-->
<!--                                       [(ngModel)]="expense.type">-->
<!--                            </ng-select>-->
<!--                        </mat-form-field>-->
<!--                    </div>-->



<!--            </mat-grid-tile>-->

<!--            <mat-grid-tile-->
<!--                [colspan] = "1"-->
<!--                [rowspan] = "2">-->

<!--                <div fxFlex="1 0 auto"-->
<!--                     fxLayout="column"-->
<!--                     fxLayoutAlign="start"-->
<!--                     fxLayout.gt-xs="row">-->
<!--                    <mat-form-field class="" appearance="outline" fxFlex="100" >-->
<!--                        <mat-label>Describe the content of the file</mat-label>-->
<!--                        <textarea matInput-->
<!--                                  id="fileDescription"-->
<!--                                  name="fileDescription"-->
<!--                                  placeholder="Describe the content of the file"-->
<!--                                  [(ngModel)]="expense.description"-->
<!--                                  #fileDescription="ngModel"></textarea>-->
<!--                    </mat-form-field>-->
<!--                </div>-->
<!--            </mat-grid-tile>-->
<!--            <mat-grid-tile-->
<!--                [colspan] = "2"-->
<!--                [rowspan] = "2">-->

<!--                sdsf-->
<!--            </mat-grid-tile>-->
<!--        </mat-grid-list>-->

        </form>

        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*"
               style="display:none;"/>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                (click)="saveExpense()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




