<div id="forgot-password" class="" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{value:'*',params:{scale:'1'}}">
<!--            <img src="assets/images/logos/EUMR_logowhite.png">-->

        </div>
        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Sustained, persistent, and affordable presence in the oceans
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            EUMarineRobots
        </div>

    </div>
    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo">
                <span>
<!--                    <img src="assets/images/logos/EUMarineRobots.png">-->
                </span>
            </div>

            <div class="title">Recover your password</div>


            <form name="forgot-password-form" [formGroup]="forgotPasswordForm"
                  novalidate
                  (ngSubmit)="reset(frm)"
                  #frm="ngForm">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    SEND RESET LINK
                </button>

            </form>
            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">


            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'">Create an account</a>
            </div>
        </div>
    </div>
</div>
