@import "src/@fuse/scss/fuse";

file-list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    .table-container {
        position: relative;
        overflow: auto;
        width: 100%;
        overflow-y: hidden;
    }

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;
        overflow: auto;

        .mat-column-action {
            flex: 0 1 110px;
        }

        .mat-column-id {
            padding: 10px;
        }

        .mat-column-url {
            flex: 0 1 100px;
        }

        .mat-column-parent {
            padding: 10px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 10px;

            }
        }

        .mat-paginator {

        }
    }

    .card-preview {
        display: flex;
        min-width: 320px;
        justify-content: space-around;
    }

}

#add-file-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 175px);
        bottom: auto;
    }
}

#add-folder-button {
    position: absolute;
    bottom: 79px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 155px);
        bottom: auto;
    }
}
