@import "./src/@fuse/scss/fuse";

.file-dialog {
    mat-progress-bar {
        height: 2em;
    }
    .file-progress-bar {
        &.mat-progress-bar {
            height: 2em;
        }

        .mat-progress-bar-fill::after {
            background-color: #37474f;
        }

        .mat-progress-bar-buffer {
            background-color: #0f93d6;
        }

        /* remove animation and the dots*/
        .mat-progress-bar-background {
            animation: none;
            background-color: #eceff1;
            fill: #eceff1;
        }
    }

    @include media-breakpoint('xs') {
        width: 100%;
    }

    mat-form-field textarea {
        min-height: 76px !important;
        position: relative;
        top: -15px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 90vh;
        display: flex;
        flex-direction: column;
    }
    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }


        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {

            overflow: hidden;
            width: 128px;
            height: 128px;
            margin: 10px;
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 4px;




            img {
                height: 100%;
                width: auto;
                max-width: none;
            }

        }

        .close {

            top: 2px;
            z-index: 100;
            background-color: #FFF;
            padding: 5px 2px 2px;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            opacity: .2;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 50%;
        }

        .close:hover {
            opacity: 2;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }





}
