<!-- SIDE PANEL -->
<ng-container>
	<fuse-sidebar name="navbar" class="navbar-fuse-sidebar"
	              lockedOpen="gt-md">
		<navbar></navbar>
	</fuse-sidebar>
</ng-container>
<!-- / SIDE PANEL -->

<div id="main">

	<div id="container-1" class="container" fxLayout="column">
		<!-- TOOLBAR: Above -->
		<ng-container>
			<ng-container *ngTemplateOutlet="toolbar"></ng-container>
		</ng-container>
		<!-- / TOOLBAR: Above -->
		<div id="container-2" class="container">
			<div id="container-3" class="container" fusePerfectScrollbar
				[fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
				<!-- CONTENT -->
				<content></content>
				<!-- / CONTENT -->
			</div>
		</div>

	</div>

	<!-- FOOTER: Above -->
	<ng-container >
		<ng-container *ngTemplateOutlet="footer"></ng-container>
	</ng-container>
	<!-- FOOTER: Above -->

</div>


<!-- QUICK PANEL -->
<fuse-sidebar name="quickPanel" position="right" class="quick-panel">
	<quick-panel></quick-panel>
</fuse-sidebar>
<!-- / QUICK PANEL -->

<!-- TOOLBAR -->
<ng-template #toolbar>
	<toolbar></toolbar>
</ng-template>
<!-- / TOOLBAR -->

<!-- FOOTER -->
<ng-template #footer>
	<footer></footer>
</ng-template>
<!-- / FOOTER -->




