<div id="dashboard-analytics" class="page-layout blank">

    <div class="main-widget">

        <div class="position-relative p-24 blue-600"
             fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="h2">Server stats</span>
                <span class="h5 secondary-text">details about the server</span>
            </div>
        </div>


    </div>

    <div class="content">
        <div class="left mr-lg-32">

            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">


                <!-- WIDGET 5 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class=" font-size-56 line-height-56">
                                {{stats?.uptime}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                            </div>

                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                     Server Uptime
                                    </span>
                        </div>

                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 5 -->



            </div>


            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                <!-- WIDGET 1 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                {{stats?.cpu_usage}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                            </div>

                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                     REAL TIME CPU USAGE %
                                    </span>
                        </div>

                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-red-fg font-size-72 line-height-72">
                                {{stats?.memory_usage_percent}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                            </div>
                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                     REAL TIME MEMORY USAGE %
                                    </span>
                        </div>

                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 2 -->

                <!-- WIDGET 3 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-green-fg font-size-72 line-height-72">
                                {{stats?.hdd_percent}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                            </div>

                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                     Used space %
                                    </span>
                        </div>

                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 3 -->


                <!-- WIDGET 4 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                             fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="33">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                             fxLayoutAlign="end center">
                        </div>

                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-green-fg font-size-72 line-height-72">
                                {{stats?.hdd_size}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                            </div>

                        </div>
                        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="h4 secondary-text text-truncate">
                                     Total available size
                                    </span>
                        </div>

                    </div>
                    <!-- / Front -->
                </fuse-widget>
                <!-- / WIDGET 4 -->


            </div>

        </div>

    </div>
</div>