<div class="page-layout simple tabbed" id="profile">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between end">
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">           
            
                <img *ngIf="newAvatarPreview" class="profile-image avatar huge" [src]="newAvatarPreview ? newAvatarPreview : './assets/images/avatars/user.png'" (click)="fileInput.click()"
                     [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" matTooltip="Click to upload">
                <img *ngIf="!newAvatarPreview" class="profile-image avatar huge" [src]="'./assets/images/avatars/user.png'" (click)="fileInput.click()"
                     [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}" matTooltip="Click to upload">
                <input id="fileInput" type="file" name="newAvatar"
                     (change)="fileChangeListener($event)" style="display: none" #fileInput>
            
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{user.name}}
            </div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Profile">
                <div id="update" class="p-20" fxLayout="row wrap">
                    <form class="profil-form" (ngSubmit)="onUpdateProfile()" fxLayout="column" fxFlex>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">  
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                                <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="user.name">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                                <input matInput type="text" placeholder="Phone"  name="phone" [(ngModel)]="user.phone">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                                <input matInput type="text" placeholder="Address" name="address" [(ngModel)]="user.address">
                            </mat-form-field>
                        </div>

                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row"> 
                            <button mat-raised-button color="accent" type="submit">Update profile</button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="Account">
                <div id="updatepass" class="p-24" fxLayout="row wrap">
                    <form class="password-form"  (ngSubmit)="onUpdatePass()" fxLayout="column" fxFlex>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                                <input matInput type="password" placeholder="Old Password" name="current_password" [(ngModel)]="password.current_password">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="25">
                                <input matInput type="password" placeholder="New Password" name="new_password" [(ngModel)]="password.new_password">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="25">
                                <input matInput type="password" placeholder="Confirm Password"  name="new_password_confirmation" [(ngModel)]="password.new_password_confirmation">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                            <button mat-raised-button color="accent" type="submit" >Change Password</button>
                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="GDPR">
                <span>View your accounts details and the purpose for each data we collect as per the GDPR regulation.</span>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="infoType">
                        <th mat-header-cell *matHeaderCellDef> Information type </th>
                        <td mat-cell *matCellDef="let element"> {{element.infoType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="data">
                        <th mat-header-cell *matHeaderCellDef> Data </th>
                        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
                    </ng-container>
                    <ng-container matColumnDef="purpose">
                        <th mat-header-cell *matHeaderCellDef> Purpose </th>
                        <td mat-cell *matCellDef="let element"> {{element.purpose}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="gdprColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: gdprColumns;"></tr>
                </table>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- / CONTENT -->
</div>












    