<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #organizationForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="organizationName"
                           name="organizationName"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="organization.organisation_name"
                           #organizationName="ngModel">
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="stretch"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter address</mat-label>
                    <textarea matInput
                              id="organizationAddress"
                              type="text"
                              row="3"
                              style="min-height: 50px"
                              name="organizationAddress"
                              [(ngModel)]="organization.address"
                              placeholder="Enter description"
                              #organizationAddress="ngModel">

                    </textarea>
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter city</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="city"
                           name="organizationcity"
                           placeholder="Enter city..."
                           required
                           [(ngModel)]="organization.city"
                           #organizationcity="ngModel">
                </mat-form-field>

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter postal code</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="postalcode"
                           name="organizationpostalcode"
                           placeholder="Enter postalcode..."
                           required
                           [(ngModel)]="organization.postal_code"
                           #organizationpostalcode="ngModel">
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter phone</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="organizationvoice"
                           name="organizationvoice"
                           placeholder="Enter phone..."
                           required
                           [(ngModel)]="organization.phone"
                           #organizationvoice="ngModel">
                </mat-form-field>

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter country</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="organizationcountrycode"
                           name="organizationcountrycode"
                           placeholder="Enter country..."
                           required
                           [(ngModel)]="organization.country"
                           #organizationcountrycode="ngModel">
                </mat-form-field>
            </div>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter Vat No</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="organizationvat"
                           name="organizationvat"
                           placeholder="Enter vat..."
                           required
                           [(ngModel)]="organization.vat_no"
                           #organizationvat="ngModel">
                </mat-form-field>

                <mat-form-field class="" appearance="outline" fxFlex="48">
                    <mat-label>Enter inclusion Date</mat-label>
                    <!--suppress JSConstantReassignment -->
                    <input matInput
                           id="organizationdate"
                           name="organizationdate"
                           placeholder="Enter inclusion date..."
                           required
                           [(ngModel)]="organization.date_inclusion"
                           #organizationdate="ngModel">
                </mat-form-field>
            </div>



        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="organizationForm.invalid || !organization.organisationname"
                (click)="saveOrganization()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




