<div class="dialog-content-wrapper" id="file-dialog">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #foldersForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="folderName"
                           name="folderName"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="folder.name"
                           #folderName="ngModel">
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100" >
                    <mat-label>Describe the content of the folder</mat-label>
                    <textarea matInput
                           id="folderDescription"
                           name="folderDescription"
                           placeholder="Describe the content of the folder"
                           [(ngModel)]="folder.description"
                              #folderDescription="ngModel"></textarea>
                </mat-form-field>
            </div>

            <!--USERS-->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Grant individual access to</mat-label>
                    <ng-select [items]="users"
                               bindLabel="details.name"
                               autofocus
                               multiple="true"
                               name="folderUsers"
                               ngSelectMat
                               bindValue="id"
                               [(ngModel)]="folder.users">
                    </ng-select>
                </mat-form-field>


            </div>



            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <div class="" appearance="outline" fxFlex="40" style="padding-top: 20px !important;">
                    <mat-form-field class="" appearance="outline" fxFlex="100" >
                    <mat-label>Select access level</mat-label>
                    <mat-select  id="folderLevel"
                                 name="folderLevel"
                                 #folderLevel="ngModel"
                                [(ngModel)]="folder.level">
                        <mat-option  value="organization">Organization only</mat-option >
                        <mat-option  value="private">Private</mat-option >
                    </mat-select>
                    </mat-form-field>
                </div>


                <div class="" appearance="outline" fxFlex="50" style="padding-top: 20px !important;">
                    <mat-form-field class="" appearance="outline" fxFlex="100" >
                        <mat-label>Select who to notify</mat-label>
                        <mat-select matNativeControl id="folderNotificationLevel"
                                    id="folderNotificationLevel"
                                    name="folderNotificationLevel"
                                    #folderNotificationLevel="ngModel"
                                    [(ngModel)]="folder.notification">
                            <mat-option  value="organization">Organization only</mat-option >
                            <mat-option  value="public">Everyone</mat-option >
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>





        </form>



    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="foldersForm.invalid"
                (click)="saveFolder()" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>




