<div class="table-container">
    <div class="card-preview" *ngIf="navigations?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <table *ngIf="navigations?.total > 0" mat-table #table [dataSource]="navigations?.data"
           [@animateStagger]="{value:'50'}"
           matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

        <!-- Avatar Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                {{navigation.id}}

            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                {{navigation.title}}
            </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                {{navigation.type}}
            </mat-cell>
        </ng-container>


        <!-- Icon Column -->
        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                <mat-icon>  {{navigation.icon}} </mat-icon>

            </mat-cell>
        </ng-container>


        <!-- Url Column -->
        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef>Url</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                {{navigation.url}}
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="parent">
            <mat-header-cell *matHeaderCellDef>Parent</mat-header-cell>
            <mat-cell *matCellDef="let navigation">
                {{navigation.parent?.title}}
            </mat-cell>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef><span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1">Actions</span></mat-header-cell>
            <mat-cell *matCellDef="let navigation; let i = index">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-icon-button *ngIf="rights.update==1"
                            (click)="manageRoutes(navigation.id)"
                            matTooltip="Route Edit">
                        <mat-icon>share</mat-icon>
                    </button>
                    <button *ngIf="rights.update==1 && navigation.type!='system'"
                        mat-icon-button
                            (click)="manageNavigation(navigation.id)"
                            matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="rights.delete==1 && navigation.type!='system'"
                            mat-icon-button
                            (click)="deleteNavigation(navigation.id)"
                            matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsNavigations"></mat-header-row>
        <mat-row *matRowDef="let navigation; columns: displayedColumnsNavigations;"
                 class="navigations"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </table>

    <mat-paginator *ngIf="navigations?.total > 0"
                   [length]="navigations?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>