<div class="table-container">
    <div class="card-preview" *ngIf="projects?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <table *ngIf="projects?.total > 0" mat-table #table [dataSource]="projects?.data"
           [@animateStagger]="{value:'50'}"
           matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>


        <!--  Column -->
        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef>message</mat-header-cell>
            <mat-cell *matCellDef="let project">
                {{project.description}}

            </mat-cell>
        </ng-container>


        <!-- Avatar Column -->
        <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef>Created_at</mat-header-cell>
            <mat-cell *matCellDef="let project">
                {{project.created_at}}

            </mat-cell>
        </ng-container>

        <!-- Avatar Column -->
        <ng-container matColumnDef="by_user">
            <mat-header-cell *matHeaderCellDef>by_user</mat-header-cell>
            <mat-cell *matCellDef="let project">
                {{project?.user?.name}}

            </mat-cell>
        </ng-container>




        <!-- Buttons Column -->
<!--        <ng-container matColumnDef="action">-->
<!--            <mat-header-cell *matHeaderCellDef><span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1">Actions</span></mat-header-cell>-->
<!--            <mat-cell *matCellDef="let project; let i = index">-->
<!--                <div fxLayout="row" fxLayoutAlign="end center">-->
<!--                    <button *ngIf="rights.update==1"-->
<!--                        mat-icon-button-->
<!--                            (click)="manageProject(project.id)"-->
<!--                            matTooltip="Edit">-->
<!--                        <mat-icon>edit</mat-icon>-->
<!--                    </button>-->
<!--                    <button *ngIf="rights.delete==1"-->
<!--                            mat-icon-button-->
<!--                            (click)="deleteProject(project.id)"-->
<!--                            matTooltip="Delete">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </mat-cell>-->
<!--        </ng-container>-->
        <mat-header-row *matHeaderRowDef="displayedColumnsProjects"></mat-header-row>
        <mat-row *matRowDef="let project; columns: displayedColumnsProjects;"
                 class="projects"
                 matTooltip="{{project.notes}}"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}"
                 >
        </mat-row>
    </table>

    <mat-paginator *ngIf="projects?.total > 0"
                   [length]="projects?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>