<div class="dialog-content-wrapper">

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>


        <div class="rights-container">
            <h2>Available Rights</h2>

            <div
                cdkDropList
                #avList="cdkDropList"
                [cdkDropListData]="rights"
                [cdkDropListConnectedTo]="[exList]"
                class="rights-list"
                (cdkDropListDropped)="removeRights($event)">
                <div class="rights-box" *ngFor="let item of rights" cdkDrag>{{item.name}}</div>
            </div>
        </div>

        <div class="rights-container">
            <h2>Assigned Rights</h2>
            <div
                cdkDropList
                #exList="cdkDropList"
                [cdkDropListData]="groupRights"
                [cdkDropListConnectedTo]="[avList]"
                class="rights-list"
                (cdkDropListDropped)="addRights($event)">
                <div class="rights-box" *ngFor="let item of groupRights" cdkDrag>{{item.name}}</div>
            </div>
        </div>






    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">





 <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',groupForm])"
                [disabled]="groupForm.invalid"
                aria-label="SAVE">
            SAVE
</button>

    </div>
</div>
