@import "./src/@fuse/scss/fuse";

.city-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    mat-form-field textarea {
        min-height: 76px !important;
        position: relative;
        top: -15px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 90vh;
        display: flex;
        flex-direction: column;
    }
}
