<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #navigationForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="navigationTitle"
                           name="navigationTitle"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="navigation.title"
                           #navigationTitle="ngModel">
                </mat-form-field>
            </div>


            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Type</mat-label>
                    <select matNativeControl
                            required
                            id="navigationType"
                            name="navigationType"
                            placeholder="Choose type..."
                            [(ngModel)]="navigation.type"
                            #navigationType="ngModel">
                        <option value="group">group</option>
                        <option value="item">item</option>
                        <option value="system">system</option>
                        <option value="collapsable">collapsable</option>
                    </select>
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter icon name</mat-label>
                    <input matInput
                           id="navigationIcon"
                           name="navigationIcon"
                           placeholder="Enter icon name..."
                           [(ngModel)]="navigation.icon"
                           #navigationIcon="ngModel">
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter route</mat-label>
                    <input matInput
                           id="navigationRoute"
                           name="navigationRoute"
                           placeholder="Enter route..."
                           [(ngModel)]="navigation.url"
                           #navigationRoute="ngModel">
                </mat-form-field>
            </div>


            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Parent</mat-label>
                    <ng-select [items]="navigationParents"
                               bindLabel="title"
                               autofocus
                               name="navigationParents`"
                               ngSelectMat
                               bindValue="id"
                               [(ngModel)]="navigation.parent_id">
                    </ng-select>
                </mat-form-field>

            </div>

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Position</mat-label>
                    <ng-select [items]="navigationParents"
                               bindLabel="position"
                               autofocus
                               name="navigationPosition`"
                               ngSelectMat
                               bindValue="position"
                               [(ngModel)]="navigation.position">
                    </ng-select>
                </mat-form-field>

            </div>






        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="navigationForm.invalid || !navigation.title"
                (click)="saveNavigation()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




