<div id="invoices" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">invoice_important
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Invoices
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <form (ngSubmit)="search()">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" placeholder="Search for a invoice">
                    </div>
                </form>
            </div>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->


    <!-- CONTENT -->
    <div class="content">


        <!-- CENTER -->
        <div class="center p-24 pb-56 p-sm-30" >

            <!-- CONTENT -->
            <div class="content mat-white-bg mat-elevation-z4">
                <invoices-list></invoices-list>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->



    </div>
    <!-- / CONTENT-->

</div>

<!-- ADD USER BUTTON -->
<button *ngIf="rights.create==1" mat-fab class="accent"
        id="add-invoice-button" (click)="newInvoice()"
        aria-label="add invoice"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>add</mat-icon>
</button>
<!-- / ADD USER BUTTON -->
