<div id="terms" fxLayout="column">

    <div id="terms-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="terms-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">


            <div class="title">Closed for scheduled maintenance!</div>

            <div class="subtitle">
                We're sorry for the inconvenience. <br> Please check back later.
            </div>

        </div>

    </div>

</div>
