:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;

    > .header {
        flex: 0 1 auto;
        height: 160px;
        min-height: 160px;
        max-height: 160px;
    }

    > .content {
        flex: 1;

        .file-details {
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            position: relative;

            .preview {
               // height: 240px;
            }

            .offline-switch {
                padding-bottom: 16px;
                font-weight: 600;
            }

            .title {
                padding: 16px 0;
            }

            table {
                width: 100%;
                text-align: left;

                tr {

                    th, td {
                        padding: 16px 0;
                    }

                    th {

                    }

                    td {

                    }

                    &.type {
                        text-transform: capitalize;
                    }

                    &.size {
                    }

                    &.location {
                    }

                    &.owner {
                        text-transform: capitalize;
                    }

                    &.opened {
                    }

                    &.created {
                    }
                }
            }
        }
    }
}
