
<!-- SIDEBAR CONTENT -->
<div class="content p-24" fusePerfectScrollbar>

    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48" [ngClass]="'folder'"></mat-icon>
        </div>

        <div class="text-lg-center">
            {{selected.name}}
        </div>

        <div class="title">Info</div>

        <table>
            <tr class="type">
                <th>Type</th>
                <td>{{selected.type}}</td>
            </tr>

            <tr class="size">
                <th>Size</th>
                <td>{{selected.size === '' ? '-': selected.size}}</td>
            </tr>

            <tr class="location">
                <th>Location</th>
                <td>{{selected.location}}</td>
            </tr>

            <tr class="owner">
                <th>Owner</th>
                <td>{{selected.owner}}</td>
            </tr>

            <tr class="modified">
                <th>Modified</th>
                <td>{{selected.modified}}</td>
            </tr>

            <tr class="opened">
                <th>Opened</th>
                <td>{{selected.opened}}</td>
            </tr>

            <tr class="created">
                <th>Created</th>
                <td>{{selected.created}}</td>
            </tr>
        </table>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
