<div class="dialog-content-wrapper" id="file-dialog">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Upload file</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #fileForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>



            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100" >
                    <mat-label>Describe the content of the file</mat-label>
                    <textarea matInput
                              id="fileDescription"
                              name="fileDescription"
                              placeholder="Describe the content of the file"
                              [(ngModel)]="file.description"
                              #fileDescription="ngModel"></textarea>
                </mat-form-field>
            </div>

            <!--USERS-->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Grant individual access to</mat-label>
                    <ng-select [items]="users"
                               bindLabel="details.name"
                               autofocus
                               multiple="true"
                               name="fileUsers"
                               ngSelectMat
                               bindValue="id"
                               [(ngModel)]="file.users">
                    </ng-select>
                </mat-form-field>


            </div>



            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <div class="" appearance="outline" fxFlex="40" style="padding-top: 20px !important;">
                    <mat-form-field class="" appearance="outline" fxFlex="100" >
                        <mat-label>Select access level</mat-label>
                        <mat-select  id="fileLevel"
                                     [(value)]="selected_level"
                                     name="fileLevel"
                                     #fileLevel="ngModel"
                                     [(ngModel)]="file.level">
                            <mat-option  value="private" selected>Private</mat-option >
                            <mat-option  value="organization">Organization only</mat-option >
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="" appearance="outline" fxFlex="50" style="padding-top: 20px !important;">
                    <mat-form-field class="" appearance="outline" fxFlex="100" >
                        <mat-label>Select who to notify</mat-label>
                        <mat-select matNativeControl id="fileNotificationLevel"
                                    [(value)]="selected_notification"
                                    id="fileNotificationLevel"
                                    name="fileNotificationLevel"
                                    #fileNotificationLevel="ngModel"
                                    [(ngModel)]="file.notification">
                            <mat-option  value="organization">Organization only</mat-option >
                            <mat-option  value="everyone">Everyone</mat-option >
                            <mat-option  value="selected">Selected users</mat-option >
                            <mat-option  value="none" selected >Nobody</mat-option >

                        </mat-select>
                    </mat-form-field>
                </div>

            </div>




            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="start"
                 fxLayout.gt-xs="row">

                <table style="width: 95%;">
                    <tr *ngFor="let file of files">
                        <td>
                            <div style="position: relative">

                                <mat-progress-bar [value]="file.progress"  class="file-progress-bar"
                                                  mode="buffer"></mat-progress-bar>
                                <span style="position: absolute; top: 0.5em;"
                                      [ngStyle]="{'left': file.progress + '%'}">{{file.progress}}%</span>
                                <span id="file-label">{{file.data.name}}</span>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>



        </form>




            <!-- / Menus-->



        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="*/*"
               style="display:none;"/>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end justify">



        <button mat-raised-button
                class="save-button mat-accent"
                color="warn"
                [disabled]="fileForm.invalid"
                (click)="onClick()">
            Select files to be uploaded
        </button>

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                (click)="finish()" aria-label="Finish">
            Finish uploading
        </button>


    </div>
</div>




