<div id="reset-password" class="" fxLayout="row" fxLayoutAlign="start">

    <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>
        <div class="logo" [@animate]="{value:'*',params:{scale:'1'}}">
            <img src="assets/images/logos/EUMR_logowhite.png">

        </div>
        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Sustained, persistent, and affordable presence in the oceans
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            EUMarineRobots
        </div>

    </div>
    <div id="reset-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="reset-password-form">

            <div class="logo">
                <span>
<!--                    <img src="assets/images/logos/EUMarineRobots.png">-->
                </span>
            </div>

            <div class="title">Reset your password</div>


            <form name="reset-password-form" [formGroup]="resetPasswordForm"
                  novalidate
                  (ngSubmit)="reset(frm)"
                  #frm="ngForm">

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="new_password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password (Confirm)"
                           formControlName="new_password_confirmation">
                    <mat-error *ngIf="resetPasswordForm.get('new_password_confirmation').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('new_password_confirmation').hasError('required') &&
                                       resetPasswordForm.get('new_password_confirmation').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="Change Password" [disabled]="resetPasswordForm.invalid">
                    Change password
                </button>

            </form>
            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div fxLayout="column" fxLayoutAlign="start center">


            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/auth/register'">Create an account</a>
            </div>
        </div>
    </div>
</div>
