    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{dialogTitle}}</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #permissionForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="permissionName"
                           name="permissionName"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="permission.name"
                           #permissionName="ngModel">
                </mat-form-field>
            </div>


            <!-- Classes -->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Class</mat-label>
                    <ng-select [items]="classes"
                               ngSelectMat
                               multiple="true"
                               [(ngModel)]="permission.class_namespace"
                               [ngModelOptions]="{standalone: true}"
                               [virtualScroll]="true"
                    >

                    </ng-select>
                </mat-form-field>


            </div>


            <!-- / Classes-->



            <!-- / Classes-->




            <!-- Menus -->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Menus</mat-label>
                    <ng-select [items]="menus"
                               ngSelectMat
                               multiple="true"
                               bindLabel="title"
                               [virtualScroll]="true"
                               [(ngModel)]="permission.menus"
                               [ngModelOptions]="{standalone: true}"
                    >

                    </ng-select>
                </mat-form-field>


            </div>


            <!-- / Menus-->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                    <mat-checkbox
                        id="permissionC"
                        name="permissionC"
                        [(ngModel)]="permission.C"
                        [checked]='permission.C'
                        #permissionC="ngModel">
                        <mat-label>Create</mat-label>
                    </mat-checkbox>

                <mat-checkbox
                    id="permissionR"
                    name="permissionR"
                    [(ngModel)]="permission.R"
                    [checked]='permission.R'
                    #permissionR="ngModel">
                    <mat-label>Read</mat-label>
                </mat-checkbox>

                <mat-checkbox
                    id="permissionU"
                    name="permissionU"
                    [(ngModel)]="permission.U"
                    [checked]='permission.U'
                    #permissionU="ngModel">
                    <mat-label>Update</mat-label>
                </mat-checkbox>

                <mat-checkbox
                    id="permissionD"
                    name="permissionD"
                    [(ngModel)]="permission.D"
                    [checked]='permission.D'
                    #permissionD="ngModel">
                    <mat-label>Delete</mat-label>
                </mat-checkbox>

            </div>




        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="permissionForm.invalid || !permission.name"
                (click)="savePermission()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




