<div class="table-container">
    <div class="card-preview" *ngIf="organizations?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <table *ngIf="organizations?.total > 0" mat-table #table [dataSource]="organizations?.data"
           [@animateStagger]="{value:'50'}"
           matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>


        <!--  Column -->
        <ng-container matColumnDef="organisation_name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.organisation_name}}

            </mat-cell>
        </ng-container>


        <!-- address Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.address}}

            </mat-cell>
        </ng-container>

        <!-- voice Column -->



        <ng-container matColumnDef="vat_no">
            <mat-header-cell *matHeaderCellDef>Vat no</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.vat_no}}

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_inclusion">
            <mat-header-cell *matHeaderCellDef>Date inclusion</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.date_inclusion}}

            </mat-cell>
        </ng-container>



        <ng-container matColumnDef="director_name">
            <mat-header-cell *matHeaderCellDef>Director Name</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.director_name}}

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="iban">
            <mat-header-cell *matHeaderCellDef>Iban</mat-header-cell>
            <mat-cell *matCellDef="let organization">
                {{organization.iban}}

            </mat-cell>
        </ng-container>


                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef><span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1">Actions</span></mat-header-cell>
                    <mat-cell *matCellDef="let organization; let i = index">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button *ngIf="rights.update==1"
                                mat-icon-button
                                    (click)="manageOrganization(organization.id)"
                                    matTooltip="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="rights.delete==1"
                                    mat-icon-button
                                    (click)="deleteOrganization(organization.id)"
                                    matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsOrganizations"></mat-header-row>
        <mat-row *matRowDef="let organization; columns: displayedColumnsOrganizations;"
                 class="organizations"
                 matTooltip="{{organization.notes}}"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}"
        >
        </mat-row>
    </table>

    <mat-paginator *ngIf="organizations?.total > 0"
                   [length]="organizations?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>