<div class="table-container">
    <div class="card-preview" *ngIf="invoices?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <table *ngIf="invoices?.total > 0" mat-table #table [dataSource]="invoices?.data"
           [@animateStagger]="{value:'50'}"
           matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

        <!-- Avatar Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let invoice">
                {{invoice.id}}

            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
            <mat-cell *matCellDef="let invoice">
                {{invoice.name}}
            </mat-cell>
        </ng-container>



        <!-- phone Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>message</mat-header-cell>
            <mat-cell *matCellDef="let invoice">
                {{invoice.description}}

            </mat-cell>
        </ng-container>




        <!-- Buttons Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef><span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1">Actions</span></mat-header-cell>
            <mat-cell *matCellDef="let invoice; let i = index">
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="rights.update==1"
                        mat-icon-button
                            (click)="manageInvoice(invoice.id)"
                            matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="rights.delete==1"
                            mat-icon-button
                            (click)="deleteInvoice(invoice.id)"
                            matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsInvoices"></mat-header-row>
        <mat-row *matRowDef="let invoice; columns: displayedColumnsInvoices;"
                 class="invoices"
                 matTooltip="{{invoice.notes}}"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}"
                 >
        </mat-row>
    </table>

    <mat-paginator *ngIf="invoices?.total > 0"
                   [length]="invoices?.total"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>
</div>