<div class="navbar-top fuse-navy-900" >

    <div class="logo">
<!--        <img style="height: 50px" src="assets/images/logos/EUMR_logowhite.png">-->
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container fuse-navy-700"

     fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <div class="user" fxLayout="column fuse-navy-900" >

        <div class="h3 username">{{user.name}}</div>
        <div class="h5 email hint-text mt-8">{{user.email}}</div>
        <div class="avatar-container fuse-navy-700" >
            <img class="avatar" [src]=" './assets/images/avatars/user.png'" >
        </div>

    </div>
    <div class="navbar-content">
        <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
    </div>

</div>
