<div *ngIf="file.type=='video'">

        <video muted autoplay  *ngIf="file" id="video1"  width="100%" height="450px" class="img" controls
        >
            <source src="{{endpoint}}file/{{file.md5}}" type='video/{{file.extension}}' />
        </video>
</div>
<div *ngIf="file.type=='image'">
    <img [src]="endpoint+'file/'+file.md5" (load)="status()"  alt="{{file.description}}" width="100%" height="450px">
</div>




<div *ngIf="!status_img && file.type=='image'"  style="height: 200px">
    <span class="text-lg-center" style="font-size: 36px;padding: 10px;">Please wait I am loading the image...</span>

</div>
