
<mat-table  [dataSource]="permissions?.data" [@animateStagger]="{value:'50'}">

    <!-- Avatar Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let permission">
                {{permission.id}}

        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let permission">
           {{permission.name}}
        </mat-cell>
    </ng-container>


    <!-- Create Column -->
    <ng-container matColumnDef="create">
        <mat-header-cell *matHeaderCellDef>Create</mat-header-cell>
        <mat-cell *matCellDef="let permission">
            {{permission.C}}
        </mat-cell>
    </ng-container>

    <!-- Read Column -->
    <ng-container matColumnDef="read">
        <mat-header-cell *matHeaderCellDef>Read</mat-header-cell>
        <mat-cell *matCellDef="let permission">
            {{permission.R}}
        </mat-cell>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
        <mat-cell *matCellDef="let permission">

            {{permission.U}}
        </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
        <mat-cell *matCellDef="let permission">
            {{permission.D}}
        </mat-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
            <span class="mat-body-strong" *ngIf="rights.update==1 || rights.delete==1" >
            Actions</span></mat-header-cell>
        <mat-cell *matCellDef="let permission; let i = index">
            <div fxLayout="row" fxLayoutAlign="end center">
                <button *ngIf="rights.update==1"
                        mat-icon-button
                        (click)="managePermission(permission.id)"
                        matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="rights.delete==1"
                        mat-icon-button
                        (click)="deletePermission(permission.id)"
                        matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsPermissions"></mat-header-row>
    <mat-row *matRowDef="let permission; columns: displayedColumnsPermissions;"
             class="permissions"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator [length]="permissions?.total"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPageChange($event)">

</mat-paginator>


