<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #settingForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="settingName"
                           name="settingName"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="setting.name"
                           #settingTitle="ngModel">
                </mat-form-field>
            </div>

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="stretch"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter value</mat-label>
                    <input matInput
                              id="settingValue"
                              type="text"
                              name="address"
                              [(ngModel)]="setting.value"
                              placeholder="Enter description"
                              #settingValue="ngModel">
                </mat-form-field>
            </div>



        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="settingForm.invalid || !setting.name"
                (click)="saveSetting()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




