    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{dialogTitle}}</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form #groupForm="ngForm" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">

                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter name</mat-label>
                    <input matInput
                           id="groupName"
                           name="groupName"
                           placeholder="Enter name..."
                           required
                           [(ngModel)]="group.name"
                           #groupName="ngModel">
                </mat-form-field>



            </div>
            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter code</mat-label>
                    <input matInput
                           id="groupCode"
                           name="groupCode"
                           placeholder="Enter code..."
                           required
                           [(ngModel)]="group.code"
                           #groupCode="ngModel">
                </mat-form-field>
            </div>

             <!--USERS-->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="space-evenly"
                 fxLayout.gt-xs="row">
                <mat-form-field appearance="outline" class="" fxFlex="100">
                    <mat-label>Users</mat-label>
                    <ng-select [items]="users"
                               bindLabel="details.name"
                               autofocus
                               multiple="true"
                               name="groupUsers`"
                               ngSelectMat
                               bindValue="id"
                               [(ngModel)]="groupUsers">
                    </ng-select>
                </mat-form-field>


            </div>


            <!--OBSERV-->

            <div fxFlex="1 0 auto"
                 fxLayout="column"
                 fxLayoutAlign="stretch"
                 fxLayout.gt-xs="row">
                <mat-form-field class="" appearance="outline" fxFlex="100">
                    <mat-label>Enter observations</mat-label>
                    <textarea matInput
                              id="groupObservations"
                              type="text"
                              row="5"
                              style="min-height: 50px"
                              name="observations"
                              [(ngModel)]="group.observations"
                              placeholder="Enter observations"
                              #groupObservations="ngModel"></textarea>
                </mat-form-field>
            </div>
        </form>


    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-raised-button
                class="save-button mat-accent"
                color="accent"
                [disabled]="groupForm.invalid || !group.name"
                (click)="saveGroup()" aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




