<div class="table-container">
    <div class="card-preview" *ngIf="users?.total == 0">
        <div class="p-16">
            <div class="h1">No results found!</div>
        </div>
    </div>

    <mat-table #table [dataSource]="dataSource"
               [@animateStagger]="{value:'50'}"
               *ngIf="users?.total > 0"
    >
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <img class="avatar" *ngIf="user.avatarName" [alt]="user.name"
                     [src]="getAvatar(user.avatar)"/>
                <img class="avatar" *ngIf="!user.avatarName" [alt]="user.name"
                     src="/assets/images/avatars/user.png"/>

            </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef >Status</mat-header-cell>
            <mat-cell *matCellDef="let user">
                <p class="text-truncate font-weight-600" *ngIf="user.status == 1">Active</p>
                <p class="text-truncate font-weight-600" *ngIf="user.status == 0">Not Active</p>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
            <mat-cell *matCellDef="let user">
                <p class="text-truncate font-weight-600">{{user?.name}}</p>
            </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
            <mat-cell *matCellDef="let user" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{user?.email}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
            <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{user?.phone}}
                </p>
            </mat-cell>
        </ng-container>


        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Address</mat-header-cell>
            <mat-cell *matCellDef="let user" fxHide fxShow.gt-md>
                <p class="address text-truncate">
                    {{user?.address}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Buttons Column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let user">
                <div fxFlex="row" fxLayoutAlign="end center">

                    <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                            (click)="$event.stopPropagation();">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>

                    <mat-menu #moreMenu="matMenu">
                        <div fxLayout="row" fxLayoutAlign="space-evenly center">
                            <button mat-icon-button
                                    aria-label="remove"
                                    (click)="addUserRight(user?.id)"
                                    matTooltip="Rights">
                                <mat-icon>lock</mat-icon>
                            </button>
                            <button mat-icon-button
                                    aria-label="remove"
                                    (click)="editUser(user)"
                                    matTooltip="Edit user ">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button
                                    aria-label="remove"
                                    (click)="deleteUser(user.id)"
                                    matTooltip="Delete user ">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                    </mat-menu>
                </div>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let user; columns: displayedColumns;"
                 class="user"
                 (click)="editUser(user)"
                 matRipple
                 [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>

    <mat-paginator [length]="users?.total"
                   *ngIf="users?.total > 0"
                   [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="onPageChange($event)">

    </mat-paginator>

</div>
