<div id="files" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">

                <!--                <button mat-icon-button class="mr-16" (click)="backClicked()">-->
                <!--                    <mat-icon>arrow_back</mat-icon>-->
                <!--                </button>-->


                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">folder
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Files
                </span>
            </div>


        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <form (ngSubmit)="search()">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input [formControl]="searchInput" placeholder="Search for files">
                    </div>
                </form>
            </div>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->
    <div class="accent p-16" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo breadcrumb" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 10px">
                <mat-icon class="logo-icon mr-5 breadcrumb">home
                </mat-icon>
                <span class="logo-text breadcrumb" (click)="homeClicked()">
                     <span (click)="homeClicked()">Home /</span>
                </span>

            </div>
            <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 10px"
                 *ngFor="let folder of pathArr;let i = index">
                <mat-icon class="logo-icon mr-5 breadcrumb">folder
                </mat-icon>
                <span class="logo-text breadcrumb" (click)="backClicked(i ,folder)">
                     <span (click)="backClicked(i ,folder)">{{folder.name}}</span>
                    <span *ngIf="pathArr.length > (i+1)">
                    /
                    </span>

                </span>

            </div>


        </div>

    </div>

    <!-- CONTENT -->
    <div class="content">


        <!-- CENTER -->
        <div class="center p-24 pb-56 p-sm-30">

            <!-- CONTENT -->
            <div class="content mat-white-bg mat-elevation-z4">
                <file-list *ngIf="selected" [selected]="folder"></file-list>
                <folder-list *ngIf="!selected"></folder-list>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
        <!-- SIDEBAR -->
        <!--        <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right" *ngIf="selected"-->
        <!--                      lockedOpen="gt-md">-->
        <!--            <file-manager-details-sidebar [selected]="file"></file-manager-details-sidebar>-->
        <!--        </fuse-sidebar>-->
        <!-- / SIDEBAR -->


    </div>
    <!-- / CONTENT-->

</div>


<!--&lt;!&ndash; ADD folder BUTTON &ndash;&gt;-->
<!--<button-->
<!--    mat-fab-->
<!--    color="warn"-->
<!--    id="add-folder-button"-->
<!--    (click)="newFolder()"-->
<!--    aria-label="add file"-->
<!--    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">-->
<!--    <mat-icon>create_new_folder</mat-icon>-->
<!--</button>-->
<!--&lt;!&ndash; / ADD folder BUTTON &ndash;&gt;-->


<!-- ADD FILE BUTTON -->
<button *ngIf="folder"
        mat-fab
        color="accent"
        id="add-file-button"
        (click)="newFile()"
        aria-label="add file"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>library_add</mat-icon>
</button>
<!-- / ADD FILE BUTTON -->