<div class="header-image-wrapper">
    <div class="bg"
         [style.background-image]="bgImage"
         [class.bg-anime]="bgImageAnimate"
         [style.min-height]="600"></div>
    <div class="mask"></div>
    <div class="header-image-content" fxLayout="column" fxLayoutAlign="center center" >
        <h1 *ngIf="title" class="title">{{title}}</h1>
        <p *ngIf="desc" class="desc">{{desc}}</p>
    </div>
    <div *ngIf="isHomePage">

    </div>
  </div>

