    <div class="dialog-content-wrapper">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">{{dialogTitle}}</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <input matInput
                   id="routeName"
                   name="routeName"
                   placeholder="Enter route...ex. \settings\groups"
                   [(ngModel)]="route.route"
                   #routeName="ngModel">
            <button mat-raised-button
                    matSuffix mat-icon-button
                    class="save-button mat-accent"
                    color="accent"
                    (click)="addRoute()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-table  [dataSource]="routes" [@animateStagger]="{value:'50'}" class="w-100-p">
                <!-- Avatar Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let route">
                        {{route.id}}

                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="route">
                    <mat-header-cell *matHeaderCellDef>Route</mat-header-cell>
                    <mat-cell *matCellDef="let route">
                        {{route.route}}
                    </mat-cell>
                </ng-container>


                <!-- Buttons Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef><span class="mat-body-strong">Actions</span></mat-header-cell>
                    <mat-cell *matCellDef="let route; let i = index">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button mat-icon-button
                                    (click)="deleteRoute(route.id)"
                                    matTooltip="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsGroups"></mat-header-row>
                <mat-row *matRowDef="let route; columns: displayedColumnsGroups;"
                         class="groups"
                         matRipple
                         [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>
        </div>

</div>




